    body {
    background-color: rgb(216, 195, 171);
    font-family: Verdana;
    font-size: 10px;
}

div.header-img {
    width: 100%;
    position: fixed;
}

#header-img {
    width: 330px;
    filter: invert(100%);
    margin-top: -95px;
    margin-left: 35px;
    display: block;
}

div.nav-bar {
    position: fixed;
    background-color: Mint;
    width: 100%;
    margin-top: -105px;
    margin-left: 550px;
    font-size: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

.nav-link:hover {
    border-radius: 15px;
    background-color: #7ec91c;
}

.title {
    margin-top: 120px;
    margin-left: 300px;
    font-size: 20px;
}

#email {
    display: block;
    margin-left: 380px;
    width: 250px;
    border: none;
    padding: 7px;
    background-color: white;
}

#submit {
    display: block;
    margin-top: 20px;
    margin-left: 430px;
    width: 150px;
    border: none;
    padding: 5px;
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.text {
    width: 600px;
    margin-left: 200px;
    margin-top: 50px;
}

#video {
    display: block;
    background-color: rgb(216, 195, 171);
    margin-left: 250px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

div.product {
    background-color: white;
    margin: 10px;
}

div.product-title {
    padding: 10px;
    background-color: #33adff;
    color: white;
    text-align: center;
}

div.product-description {
    color: #33adff;
}

#product-submit {
    width: 40%;
    font-size: 20px;
    background-color: #00ff00;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#product-submit:hover {
    background-color: #33adff;
}

@media screen and (max-width:600px) {
    .flex-container {
        flex-direction: column;
    }